<a href="https://colab.research.google.com/github/vikasShashi-dot/MachineLearning/blob/main/Lab1/Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("wenruliu/adult-income-dataset")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'adult-income-dataset' dataset.
Path to dataset files: /kaggle/input/adult-income-dataset

In [40]:
import pandas as pd
diabetes = pd.read_csv("/content/sample_data/Dataset of Diabetes .csv")
diabetes.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [41]:
import pandas as pd
adult = pd.read_csv("/kaggle/input/adult-income-dataset/adult.csv")
adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [44]:
adult.isnull().sum().sum()

np.int64(0)

In [48]:
numeric_cols = diabetes.select_dtypes(include=["int64", "float64"]).columns
categorical_cols = diabetes.select_dtypes(include=["object"]).columns

In [49]:
from sklearn.impute import SimpleImputer
import pandas as pd

imputer_mean = SimpleImputer(strategy="mean")
diabetes[numeric_cols] = imputer_mean.fit_transform(diabetes[numeric_cols])
imputer_mode = SimpleImputer(strategy="most_frequent")
diabetes[categorical_cols] = imputer_mode.fit_transform(diabetes[categorical_cols])

In [56]:

# DIABETES DATASET PREPROCESSING

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

df = pd.read_csv("/content/sample_data/Dataset of Diabetes .csv")
print("Original Shape:", df.shape)

zero_cols = ['BMI']
df[zero_cols] = df[zero_cols].replace(0, np.nan)

numeric_cols_for_median = df.select_dtypes(include=np.number).columns
df[numeric_cols_for_median] = df[numeric_cols_for_median].fillna(df[numeric_cols_for_median].median())

print("\nMissing Values After Cleaning:")
print(df.isnull().sum())

Q1 = df.quantile(0.25, numeric_only=True)
Q3 = df.quantile(0.75, numeric_only=True)
IQR = Q3 - Q1

df = df[~((df[numeric_cols_for_median] < (Q1 - 1.5 * IQR)) |
          (df[numeric_cols_for_median] > (Q3 + 1.5 * IQR))).any(axis=1)]

print("\nShape After Outlier Removal:", df.shape)

X = df.drop("CLASS", axis=1)
y = df["CLASS"]

categorical_features = X.select_dtypes(include='object').columns
numerical_features = X.select_dtypes(include=np.number).columns

preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numerical_features),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ])

X_processed = preprocessor.fit_transform(X)

minmax_scaler = MinMaxScaler()
X_minmax = minmax_scaler.fit_transform(X_processed)

standard_scaler = StandardScaler()
X_standard = standard_scaler.fit_transform(X_processed)

print("\nDiabetes Dataset Preprocessing Completed ✅")

Original Shape: (1000, 14)

Missing Values After Cleaning:
ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

Shape After Outlier Removal: (629, 14)

Diabetes Dataset Preprocessing Completed ✅

In [60]:
# ADULT INCOME DATASET PREPROCESSING

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

df = pd.read_csv("/kaggle/input/adult-income-dataset/adult.csv")
print("Original Shape:", df.shape)

df.replace("?", np.nan, inplace=True)

numeric_cols = df.select_dtypes(include=np.number).columns
categorical_cols = df.select_dtypes(include='object').columns

df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

df[categorical_cols] = df[categorical_cols].fillna(
    df[categorical_cols].mode().iloc[0]
)

print("\nMissing Values After Cleaning:")
print(df.isnull().sum())

Q1 = df[numeric_cols].quantile(0.25)
Q3 = df[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df[numeric_cols] < (Q1 - 1.5 * IQR)) |
          (df[numeric_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

print("\nShape After Outlier Removal:", df.shape)

X = df.drop("income", axis=1)
y = df["income"]

categorical_features = X.select_dtypes(include='object').columns
numerical_features = X.select_dtypes(include=np.number).columns

preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numerical_features),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ]
)

X_processed = preprocessor.fit_transform(X)

X_processed_dense = X_processed.toarray()

minmax_scaler = MinMaxScaler()
X_minmax = minmax_scaler.fit_transform(X_processed_dense)

standard_scaler = StandardScaler()
X_standard = standard_scaler.fit_transform(X_processed_dense)

print("\nAdult Income Dataset Preprocessing Completed ✅")
print(X_minmax)
print(X_standard)

Original Shape: (48842, 15)

Missing Values After Cleaning:
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

Shape After Outlier Removal: (28558, 15)

Adult Income Dataset Preprocessing Completed ✅
[[0.13114754 0.52744127 0.18181818 ... 1.         0.         0.        ]
 [0.3442623  0.18827727 0.36363636 ... 1.         0.         0.        ]
 [0.18032787 0.80015548 0.63636364 ... 1.         0.         0.        ]
 ...
 [0.16393443 0.60295519 0.63636364 ... 1.         0.         0.        ]
 [0.37704918 0.34811921 0.36363636 ... 1.         0.         0.        ]
 [0.67213115 0.34201867 0.36363636 ... 1.         0.         0.        ]]
[[-1.08070365  0.53245943 -1.5112549  ...  0.28597797 -0.04311987
  -0.02050303]
 [-0.00338933 -1.041839   -0.58034418 ...  0.28597797 -0.04311987
  -0.02050303]
 [-0.83209266  1.79831775  0.81602191 ...  0.28597797 -0.04311987
  -0.02050303]
 ...
 [-0.91496299  0.88297264  0.81602191 ...  0.28597797 -0.04311987
  -0.02050303]
 [ 0.16235133 -0.29990024 -0.58034418 ...  0.28597797 -0.04311987
  -0.02050303]
 [ 1.65401731 -0.32821711 -0.58034418 ...  0.28597797 -0.04311987
  -0.02050303]]